<section class="homepage">
  <section class="homepage-header">
    Outdoorsy
  </section>

  <section class="homepage-byline">
    <p class="lead">Shop for a piece of the outdoors regardless of your budget</p>
    <%= link_to "View all products", products_path, :class => "btn btn-dark"%>
  </section>
</section>