<%# Footer, Gretchen Granola Girls, icon attributions, disclaimer %>

  <!-- Footer Elements -->
  <div class="container-fluid">

    <!-- Grid row-->
    <div class="row mb-5 mt-4 text-left px-5 mx-5">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        DISCLAIMER
        <hr>
        <p>This is not a real website if you didn't know that you can't buy a piece of mountain.</p>
      </div>
      <div class="col-md-3 mx-auto">
        CONTACT
        <hr>
        <p class="footer__text">
        13TH ADA COHORT STREET <br>
           SEATTLE, WA 98118 <br>
           +1 234-567-8910 <br>
           OUTDOORSY@ADADEV.ORG</p>
      </div>
      <div class="col-3 mx-auto">
         ATTRIBUTIONS
         <hr>
        <p class="footer__text">Favicon: <a href="https://icons8.com/icon/65471/mountain" class="footer__link">Mountain icon by Icons8</a></p>
        <p class="footer__text"> ♥ CheezItMan, Travis, Dan, Matt, Ryan, Dee, Ace, Lee, Sharon, Angela, Katie Voldemort, Stephanie, Kaida, Samson, Willow, Mushu, Manna, Max, Louie, June and the best for last... Gretchen</p>
      </div>
      <div class="col-3 mx-auto">
        follow us <br>
        <hr>
        <i class="fa fa-snapchat-ghost"></i>
        <a href="https://twitter.com/Outdoorsy_G3" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/outdoorsy_gretchensgranolagrls/" class="fa fa-instagram"></a>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright footer__text text-center py-3">© 2020 Copyright: Gretchen's Granola Girls
  </div>
  <!-- Copyright -->